#about{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	.bg{
		position: absolute;
		left: 400px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-size: cover;
		background-position: center right;
		@media screen and (max-width: 500px) {
			display: none;
		}
	}
	.page{
		position: absolute;
		z-index: 40;
		font: 400 13px/20px $sans; 
		left: 16px;
		top: 150px;
		width: 300px;
		a{
			color: $black;
			text-decoration: underline;
		}
		@media screen and (max-width: 500px) {
			position: static;
			width: auto;
			left: auto;
			top: auto;
			margin: 150px 16px 20px 16px;
		}
	}
	.credit{
		position: absolute;
		bottom: 16px;
		left: 16px;
		margin: 0px;
		font: 400 12px/12px $sans;
		color: #AAA;
		a{
			color: #AAA;
		}
		@media screen and (max-width: 500px) {
			position: static;
			left: auto;
			bottom: auto;
			padding: 16px;
		}
	}
}