#about{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	.bg{
		position: absolute;
		left: 400px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-size: cover;
		background-position: center right;
	}
	.page{
		position: absolute;
		z-index: 40;
		font: 400 13px/20px $sans; 
		left: 16px;
		top: 150px;
		width: 300px;
	}
}