#nav{
	height: 95px;
	position: fixed;
	left: $margin;
	top: $margin;
	z-index: 200;
	.links{
		font: 600 18px/20px $sans;
		position: absolute;
		top: 17px;
		left: 190px;
		width: 160px;
		a{
			display: block;
			text-decoration: none;
			color: $grey;
			&:hover{
				text-decoration: underline;
			}
			&:active{
				opacity: 0.7;
			}
		}
		.logo{
			color: $black;
		}
		.work{
			ul{
				display: none;
			}
			span{
				color: $yellow;
				cursor: pointer;
			}
			&:hover,
			&:active{
				span{
					display: none;
				}
				ul{
					position: absolute;
					left: 0px;
					top: 0px;
					right: 0px;
					bottom: 0px;
					z-index: 3;
					display: block;
					margin: 0px;
					padding: 0px;
					background-color: #FFF;
					li{
						list-style-type: none;
						padding: 0px;
						margin: 0px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		position: absolute;
	}
	p{
		margin-left: 170px;
		margin-top: 40px;
		a{
			color: #CCC;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

#pyramid{
	display: block;
	width: 120px;
	height: 95px;
}