#nav{
	height: 95px;
	position: fixed;
	left: $margin;
	top: $margin;
	h1.logo{
		position: absolute;
		top: 45px;
		left: 170px;
		margin: 0px;
		padding: 0px;
		font: 600 30px/27px 'Didot', times;
		a{
			text-decoration: none;
			color: $black;
		}
	}
	ul{
		position: absolute;
		top: 0px;
		font: 400 12px/17px $sans;
		li{
			list-style-type: none;
			a{
				color: #666;
				text-decoration: none;
				&:hover{
					color: $black;
					text-decoration: underline;
				}
			}
		}
	}
	ul.links{
		left: 400px;
		a{
			color: #BBB;
		}
	}
	ul.categories{
		left: 300px;
	}
	@media screen and (max-width: 768px) {
		position: absolute;
	}

	p{
		margin-left: 170px;
		margin-top: 40px;
		a{
			color: #CCC;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

#pyramid{
	display: block;
	width: 120px;
	height: 95px;
}