#preloader{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: $black;
	z-index: 500;
	.lines{
			position: absolute;
			left: -300px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			background: $black url('/assets/img/preloader-bg.png') repeat 0px 0px;
			background-attachment: fixed;
			-moz-animation: slide 1s infinite linear;
		  -o-animation: slide 1s infinite linear;
		  -webkit-animation: slide 1s infinite linear;
		  animation: slide 1s infinite linear;
		}
}

@mixin frames{
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 300px 0px;
	}

}

@-moz-keyframes slide {
	@include frames;
}
@-webkit-keyframes slide {
	@include frames;
}
@-o-keyframes slide {
	@include frames;
}
@-ms-keyframes slide {
	@include frames;
}
@keyframes slide {
	@include frames;
}