#project{
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 155px;
	td{
		vertical-align: top;
		text-align: left;
	}
	td.description{
		.content{
			width: 220px;
			margin: 20px;
			h1, h2{
				font: 600 13px/20px $sans;
			}
			p{
				font: 400 13px/20px $sans;
			}
		}
	}
	@media screen and (max-width: 768px) {
		margin-left: $margin;
		tr, td{
			display: block;
		}
		td.description{
			margin-right: $margin;
			margin-bottom: $margin;
			.content{
				width: auto;
				margin: 0px;
			}
		}
		.image{
			margin-right: $margin;
			margin-bottom: $margin;
		}
		img{
			width: 100%;
		}
	}
}