#project{
	padding: 0px $margin;
	margin-top: 95px + ($margin * 2);
	td{
		vertical-align: top;
		text-align: left;
	}
	td.description{
		.content{
			width: 220px;
			margin: 20px;
			h1, h2{
				font: 600 13px/20px $sans; 
			}
			p{
				font: 400 13px/20px $sans;
			}
			blockquote{
				margin: 0px;
				cursor: default;
				h1, p{
					margin: 0px;
				}
				h1{
					text-transform: capitalize;
					font-weight: 400;
				}
				p{
					display: none;
				}
				&.awards{
					color: #6DB7E9;
				}
				&.specifications{
					color: #D57962;
				}
				&:hover{
					p{
						display: block;
					}
					h1{
						display: none;
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		padding: 0px;
		margin: 0px;
		tr, td{
			display: block;
			margin: 0px $margin;
		}
		td.description{
			margin-right: $margin;
			margin-bottom: $margin;
			.content{
				width: auto;
				margin: 0px;
			}
		}
		.image{
			margin-right: $margin;
			margin-bottom: $margin;
		}
		img{
			width: 100%;
		}
	}
}