$sans: 'Helvetica Neue', Sans-Serif;

html,
body{
	font-family: 'Helvetica Neue';
	background-color: #FFF;
}

$yellow: rgb(247, 237, 16);
$margin: 16px;
$black: #111;
$grey: #AAA;

.clearfix{
	clear: both;
}

@import 'helpers/_misc';
@import 'ui-specific/_preloader';
@import 'reset/_normalize';
@import 'ui-specific/_nav';
@import 'ui-specific/_project';
@import 'ui-specific/_projects';
@import 'ui-specific/_about';