$sans: 'Helvetica Neue', Sans-Serif;

html,
body{
	font-family: 'Helvetica Neue';
	background-color: #FFF;
}

$margin: 20px;
$black: #111;

.clearfix{
	clear: both;
}

@import 'reset/_normalize';
@import 'ui-specific/_nav';
@import 'ui-specific/_project';
@import 'ui-specific/_projects';
@import 'ui-specific/_preloader';