<div id="nav">
	<a id="pyramid" class="js-extend-view" data-view="pyramid-view" href="/"></a>
	<div class="links">
		<a href="/" class="logo">Spencer Levine</a>
		<a href="/about">About</a>
		<a href="mailto:spence@spencerlevine.co.nz">Contact</a>
		<div class="work">
			<span>Work</span>
			<ul>
				<li><a href="/projects/exhibition">Exhibition</a></li>
				<li><a href="/projects/book">Book</a></li>
				<li><a href="/projects/identity">Identity</a></li>
				<li><a href="/projects/music">Music</a></li>
			</ul>
		</div>
	</div>
</div>